<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>


    
    <add key="TimerInterval" value="5" />
    <add key="NotifEnabled" value="false" />
    <add key="NotifTitle" value="سلام" />
    <add key="NotifMessage" value="Message" />
    <add key="NotifInterval" value="2" />
    <add key="NotifTimeToshow" value="1000" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>