<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Notification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Notification.Properties.Settings>
            <setting name="NotifTitle" serializeAs="String">
                <value>همکار گرامی</value>
            </setting>
            <setting name="NotifMessage" serializeAs="String">
                <value>با توجه به بررسی های انجام شده </value>
            </setting>
            <setting name="NotifEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="NotifTimeToshow" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NotifIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifTocClick" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>10000</value>
            </setting>
        </Notification.Properties.Settings>
    </userSettings>
</configuration>